<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_link %><br>
    <%= f.text_field :full_link %>
  </div>
  <div class="field">
    <%= f.label :youtube_link %><br>
    <%= f.text_field :youtube_link %>
  </div>
  <div class="field">
    <%= f.label :progress %><br>
    <%= f.text_field :progress %>
  </div>
  <div class="field">
    <%= f.label :seen_count %><br>
    <%= f.number_field :seen_count %>
  </div>
  <div class="field">
    <%= f.label :video_id %><br>
    <%= f.number_field :video_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :transcript_id %><br>
    <%= f.number_field :transcript_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
