<p id="notice"><%= notice %></p>

<p>
  <strong>Full link:</strong>
  <%= @link.full_link %>
</p>

<p>
  <strong>Youtube link:</strong>
  <%= @link.youtube_link %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @link.progress %>
</p>

<p>
  <strong>Seen count:</strong>
  <%= @link.seen_count %>
</p>

<p>
  <strong>Video:</strong>
  <%= @link.video_id %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @link.transcript_id %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @link.priority %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
