<div style="background:#eee">

<%= link_to 'Home', root_path %> |
<%= link_to 'Links', :links %> |
<%= link_to 'Channels', :channels %> |
<%= link_to 'Videos', :videos %> |
<%= link_to "Explore", explore_path %>

</div>
